/*@import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}*/

.module {
  bottom:0px;
  position:fixed;
  right:10px;
  border-top-left-radius: 5px;  
  border-top-right-radius: 5px;
  width: 300px;
  z-index: +2;
  border:1px solid;
  border-color: #e3e3e3;
  }

.top-bar {
  cursor: pointer;
  background: #666;
  color: white;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}
.top-bar h1 {
  display: inline;
  font-size: 1.1rem;
}
.top-bar .typicons-message {
  display: inline-block;
  padding: 4px 5px 2px 5px;
  
}
.top-bar .typicons-minus {
  position: relative;
  top: 3px;
}
.top-bar .left {
  float: left;
}
.top-bar .right {
  float: right;
  padding-top: 5px;
}
.top-bar > * {
  position: relative;
}

.discussion {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0 0 50px 0;  
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}

.discussion li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}
.self {
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 50px;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
}
.messages time {
  font-size: 0.7rem;
  color: #ccc;
}

.other{
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 50px;
}
.other .messages {
  background: lightgrey;  
}
.other .messages time {
  font-size: 0.7rem;
  color: #fff;
}

.text{
  min-height:50px;
  width:100%;
  background:#fff;
  border:1px solid;
  color:#000;
  font:12px arial,sans-serif;
  padding-left:6px;
  padding-right:10px;
  border-color:#d9d9d9;
  border-top-color:#c0c0c0;
  word-wrap:break-word;
}
.text:hover{
  border-color:#b9b9b9;
  border-top-color:#a0a0a0;
}
.text:focus{
  border-color:#4d90fe;
  outline:none;
}

